[project]
	description = clearsilver local addon
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/soulfree (penglei)
[access "refs/for/refs/*"]
	read = group user/soulfree (penglei)
	push = group user/soulfree (penglei)
	label-Code-Review = -2..+2 group user/soulfree (penglei)
	label-Verified = -1..+1 group user/soulfree (penglei)
	rebase = group user/soulfree (penglei)
	removeReviewer = group user/soulfree (penglei)
	submit = group user/soulfree (penglei)
[access "refs/heads/*"]
	read = group user/soulfree (penglei)
	create = group user/soulfree (penglei)
	push = +force group user/soulfree (penglei)
	pushMerge = group user/soulfree (penglei)
[access "refs/tags/*"]
	push = +force group user/soulfree (penglei)
	pushTag = group user/soulfree (penglei)
	pushSignedTag = group user/soulfree (penglei)
